@media screen and (max-width: 991.99px) {
   
    .container{ 
        padding: 0 20px;            
    }
        
    .custom-navbar{            
        padding: 13px 0px 24px; 
        .navbar-brand{                
            img{
                max-width: 126px;
            }
        }
        .navbar-collapse{
            margin: 0 -20px;
            text-align: center;
            background-color: $bg-section; 
            transform: translate(0, 14px);
            box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.28);
            .btn{
                margin-bottom: 60px;
                font-size: 16px;
                padding: 21px 40px;
                width: 100%;
                max-width: 295px;
            }      
        }
        .navbar-nav{
            padding: 26px 0 30px;            
        } 
        .nav-item{
            .nav-link{
                padding: 5px;                      
                font-weight: 400;
                font-size: 24px;
                line-height: 222%;
            }
        }
    }
    .banner{  
        .swiper-slide{        
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(4, 5, 17, 0.6);
                z-index: -1;
            }
        }      
        .container{ 
            align-items: center;  
            text-align: center;  
            min-height: 649px;       
        } 
        &-title{                
            font-size: 32px;  
            margin-bottom: 10px;  
            max-width: 295px;            
        }
        &-description{    
            font-size: 16px;  
            margin-bottom: 18px; 
            max-width: 260px;
        }  
        }    
}


