@media screen and (max-width: 991.9px) {
   section{
        padding: $section-padding-mobile;         
        .container{ 
            padding: 0 20px;  
            .template-title{                 
                &::before{                
                    bottom: 28px;               
                }           
                h2{
                    font-size: 24px;
                }
                h4{        
                    font-size: 16px;
                }
                h6{        
                    font-size: 14px;
                }
            } 
        }
    }
      
    input{
        &[type=file]{
            + label{   
                margin-top: 33px;            
                }
            }
        }           
    
    header{
        .container{
            .custom-navbar{            
                padding: 13px 8px 13px; 
                .navbar-brand{                
                    img{
                        max-width: 126px;
                        width: 100%;
                    }
                }
                .navbar-collapse{
                    margin: 0 -20px;
                    text-align: center;
                    background-color: $bg-section; 
                    transform: translate(0, 14px);
                    box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.28);
                    .btn{
                        margin-bottom: 60px;
                        font-size: 16px;
                        padding: 21px 40px;
                        width: 100%;
                        max-width: 295px;
                    }  
                    .navbar-nav{
                        padding: 26px 0 30px;   
                        .nav-item{
                            .nav-link{
                                padding: 5px;                      
                                font-weight: 400;
                                font-size: 24px;
                                line-height: 222%;
                            }
                        }         
                    }     
                }
       
        
            }  
        }
        
    }    
   section{    
        &.banner{
            padding-top: 0;
            padding-bottom: 55px;
        }
        &.calculation{
            padding-top: 0;
        }
        &.advantages{            
            padding: 54px 0 76px;
            .swiper {            
            overflow: visible;  
                .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
                    bottom:  -16px;
                }          
            }
        }
        &.delivery{
            padding-bottom: 52px;
        }
        &.services{
            padding: 52px 0px 50px;
        }
        &.about{
            padding-top: 55px;
            padding-bottom: 84px;
        }
        &.questions{
            padding: 64px 0 60px;
        }
        &.bg-section{                         
            &::before{
                width: 100%;            
                border-radius: 0;                        
            }
        }
    } 
        
    
    .banner{          
        .swiper-slide{        
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(4, 5, 17, 0.6);
                z-index: -1;
            }
        }      
        .container{ 
            align-items: center;  
            text-align: center;  
            min-height: 649px;   
            padding: 0 12px 46px;    
        } 
        &-title{                
            font-size: 32px;  
            margin-bottom: 10px;  
            max-width: 295px;            
        }
        &-description{    
            font-size: 16px;  
            margin-bottom: 18px; 
            max-width: 260px;
        }  
    } 
    .calculation{        
        padding: 55px 0px 60px;
        .container{
            padding: 0 20px;  
            .template-title{
                padding-bottom: 72px;
                &::before{
                    bottom: 52px;
                }
            }
            .calculation-row{
            
            .calculation-form {
                margin: 0 auto;
                padding: 53px 28px 27px; 

                .form-row{
                    flex-direction: column;
                    gap: 0;
                    .form-column{
                        .form-input{
                            .file-name{
                                input[type=file] + label {   
                                    margin-top: 33px;
                                }
                            }
                        }
                    
                        .control-box{                
                            &:first-child{
                                margin-top: 6px;
                            }
                            &:last-child{
                                margin-bottom: 18px;
                            }
                        }             
                    }                 
                }
                .btn{
                    &.btn-lg {                        
                        padding: 21px 17px 17px 21px;
                        display: flex;
                        justify-content: space-between;
                    }
                    img {
                        margin-left: 83px;                                         
                    }
                }
            }
            .calculation-img{
                display: none;
            }
        }
       
    
        }
        
    } 
    .delivery{
        .template-title {
            margin-bottom: 2px;           
        }
        .card{
            padding: 0 23px 17px;
            .img-box{
                margin: 0 -23px 26px;                
            }
            &-option {                    
                margin-top: 1px;
            }
            &-price {                
                margin-bottom: 25px;                
            }
            .btn-row {
                .btn {                
                    max-width: 153px;
                    width: 100%;
                    padding: 13px 8px;
                }
            }

        }
    } 
    .services{       
        .container{
            .template-title{
                padding-bottom: 35px;
                &::before{
                    bottom: 16px;
                }                
            }
            .card{
                .card-title{
                    margin-bottom: 22px;
                }                
                .card-text{
                    font-size: 14px;                
                } 
                .btn-row{
                    .btn{
                    max-width: 153px;
                    width: 100%;
                    padding: 13px 8px;
                    }
                }  
            }
            
        }
    }
   .about{
        .container{
            padding: 0 20px;  
            .template-title{
                padding-bottom: 30px;
                &::before{
                    bottom: 12px;
                }
            }
            .about-row{                
                flex-direction: column;                  
                gap: 25px;     
                .about-description {
                    font-size: 16px;
                    line-height: 150%;
                    text-align: justify;
                }
                .about-img{  
                    transform: none; 
                    text-align: center;                       
                    img{                        
                        max-width: 335px; 
                        min-width: 278px;
                                   
                    }      
                }
            }
        }
   }
    .questions{
        .container{
        .template-title {
            padding-bottom: 46px;
            &::before{
                margin-bottom: -22px;
            }
        }
        .calculation-row{
            flex-direction: column;
            gap: 0px;
           .calculation-form {
                max-width: 335px;
                padding: 38px 20px 28px; 
                h4{
                    text-align: center;   
                }               
                p{
                    font-weight: 400;
                    text-align: center;                   
                }
                .form-column{                    
                    button{
                        max-width: 295px;
                        img{
                            margin-left: 66px;
                        }
                    }
                }
                
            } 
            .accordion{
                 max-width: 335px; 
                .accordion-item{     
                    margin-bottom: 16px; 
                    &:last-child{
                    margin-bottom: 28px;
                    } 
                    .accordion-button{     
                        font-size: 16px;              
                        padding: 12px 19px 10px 19px;        
                        &::after {    
                        background-size: cover;
                        }        
                    } 
                    .accordion-body{        
                        font-size: 14px;        
                        padding: 0 18px;        
                    } 
                }
            }
        }
        }
    
    }
    .collaboration {
        padding-bottom: 52px;
        padding-top: 56px;
        .container{
            padding: 0 20px;  
            .template-title{
                padding-bottom: 62px;
                margin-bottom: 0;
                &::before{
                    bottom: 42px;
                }
            }
            .collaboration-column{        
                max-width: 335px;
                .collaboration-row, .collaboration-row-reverse{        
                    flex-direction: column; 
                    gap: 0;             
                    .collaboration-img{    
                        max-width: 335px;
                        margin-bottom: 35px;        
                        max-height: 220px;
                    }
                    .collaboration-list-item {        
                        font-size: 16px;
                        line-height: 150%;
                        text-align: justify;    
                        margin-bottom: 20px;
                        &:last-child{
                            margin-bottom: 30px;
                        }
                    }
                    .collaboration-button{
                        margin-top: -22px;
                        .btn{
                            &.btn-lg {                        
                                max-width: 335px;
                                width: 100%;
                                padding: 21px 18px 17px 32px;
                                display: flex;
                                justify-content: space-between;
                                }
                            img {
                        margin-left: 83px;                                         
                            }   
                            }    
                        }
                    }
            }      

        }
    }
    .footer{
        padding-top: 56px;
        .container{ 
            .template-title {
                padding-bottom: 0px;
                &::before{  
                    width: 335px;               
                }
            }               
            .footer-row{                
                flex-direction: column;                
                .footer-column-info{
                    display: none;
                }       
                .footer-column{
                    .footer-img-logo{
                        display: flex;
                        justify-content: center;
                    }
                    .footer-row-social{
                        justify-content: center;
                    }                    
                    .footer-list-—Åhina{                        
                        .footer-item{
                            text-align: center;
                            margin-bottom: 1px;                   
                        }
                    }
                   
                }
    
            }
        }
    }
}       

