.banner{
    .swiper-slide{
        border-radius: 20px;
    }
    .container{
        min-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        margin-bottom: 8px;
        max-width: 463px;
    }
    &-description{              
        font-weight: 300;
        font-size: 20px;
        line-height: 136%;
        margin-bottom: 37px;
        max-width: 320px;
    }   
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 13px 35px;
    }   
    .swiper-pagination-bullet{
        border: 2px solid $color;
        opacity: 0.9;
        background: transparent;         
    }
    .swiper-pagination-bullet-active{
        background: $color;        
    } 
    .swiper-button-prev, .swiper-button-next{
        color: $color;
        max-width: 160px;        
        width: 100%;
        }
    }
