.calculation, .about, .questions, .collaboration{      
    padding: 98px 0px 113px;    
    .container{
        position: relative;
        margin: 0 auto;
        max-width: 1182px;
        width: 100%;
        padding: 0 22px;
        .template-title {
            padding-bottom: 52px;
        }
        .calculation-row{
            display: flex;         
            .calculation-form {
                max-width: 626px;
                width: 100%;            
                border-radius: 20px;
                background-color: #363A4D;
                padding: 50px 50px 55px;
                box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
               .form-column{
                    width: 100%;
                   .form-input{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        position: relative;
                        .file-name{
                            position: absolute;
                            left: 0;
                            top: 12px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 126%;
                        }
                        label{
                         margin-bottom: 6px;        
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 126%;
                        }
                        input{
                            border-radius: 10px;       
                            padding: 17px 18px;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 126%;
                            color:$color;
                                &::placeholder{            
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 126%;
                                    color: #cbcbcb;
                                }
                                &:focus-visible{
                                    outline: none; 
                                }
                                &:hover{
                                    box-shadow: 0px 0px 1px 1px $primary-color;
                                }
                                &:focus{
                                    box-shadow: 0px 0px 1px 1px $secondary-color;
                                }
                                &:active{
                                    box-shadow: 0px 0px 1px 2px $secondary-color;
                                }         
                            }    
                        }
                    .control-box{
                        position: relative;
                            margin-bottom: 14px;
                        &:first-child{
                            margin-top: 19px;
                        }
                    }  
                }           
            } 
            .calculation-img{
                position: absolute;           
                left: 618px;
                bottom: -112px;           
                max-width: 560px;           
                width: 29.167vw;  
                min-width: 400px;             
            }     
        }
    }
}
  
.calculation{
    .calculation-row{
        .calculation-form {
            .form-row{
                display: flex;
                gap: 30px;
            }
        }
    }
}

.about {      
    padding: 145px 0px 136px;    
    .container{        
        .template-title {
            padding-bottom: 60px;
        }
    }
    .calculation-row{     
        .about-description {
            max-width: 555px;
            width: 100%; 
            font-weight: 300;
            font-size: 18px;
            line-height: 170%;   
            span{
                font-weight: 400;
            }
        }                    
        .calculation-img{                       
            left: 611px;
            bottom: -75px;                
            max-width: 550px;   
        }      
    }   
}

.questions{
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 68px;
        .container{
            .template-title {
                padding-bottom: 70px;
            }
            .calculation-row{
                gap: 34px;
                .accordion{
                    max-width: 716px;
                    width: 100%;
                    .accordion-item{
                        border: 1px solid #3a444e;
                        border-radius: 10px;   
                        margin-bottom: 16px;
                        min-height: 64px;   
                        &:not(.collapsed){     
                            box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
                        }
                        &:hover{        
                            border-color: $primary-color;
                        }
                        .accordion-button{       
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 125%;
                            color: $color;
                            background-color: $bg-body;
                            padding: 18px 0 18px 34px;
                            min-height: 64px;
                            &:not(.collapsed){    
                                background: #fff;
                                color: $bg-body;
                                border-top-left-radius: 10px; 
                                border-top-right-radius: 10px;
                                &::after {
                                    background-image: url(assets/img/arrow-circle-left.svg); 
                                    transform: rotate(-90deg);
                                }
                            }
                            &:focus{    
                                box-shadow: none;
                            }
                            &::after {    
                                background-image: url(assets/img/arrow-circle-left-1.svg); 
                                width: 27px;  
                                height: 27px;                            
                            }
                        }
                        .accordion-body{
                            background: #fff;
                            color: $bg-body;
                            font-weight: 300;
                            font-size: 17px;
                            line-height: 145%;
                            padding-left: 34px;
                            border-bottom-left-radius: 10px; 
                            border-bottom-right-radius: 10px;
                        }
                    }
                .calculation-form {
                    max-width: 390px;
                    padding: 38px 40px;
                    h4{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 126%;
                        margin-bottom: 8px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 17px;
                        line-height: 126%;
                        margin-bottom: 23px;
                    }
                    .form-column{
                        .form-input{
                            width: 100%;  
                            margin-bottom: 14px;                  
                                &:last-child{
                                    input{
                                        padding: 24px 18px;
                                        margin-bottom: 26px;
                                    }
                                }                            
                        }
                        button{
                            max-width: 310px;
                            width: 100%;
                        }
                    }
            
                } 
            }
        }    
        }
}

.collaboration {
    padding-bottom: 66px;
    padding-top: 88px;
    .template-title{
        margin-bottom: 52px;
    }
    .collaboration-column{
        display: flex;
        flex-direction: column;
        .collaboration-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-reverse{
                flex-direction: row-reverse;
            }
            .collaboration-img{    
                max-width: 555px;
                width: 100%;
                height: 100;
                box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
                border-radius: 20px;
                background-size: contain;
            }
        }
        .collaboration-list{
            display: block;
            max-width: 528px;
            padding: 0;
                ::marker{
                padding: 0;
                text-indent: 26px;
            }
            &-item {    
                font-weight: 400;
                font-size: 17px;
                line-height: 157%;
                margin-bottom: 40px;
                margin-left: 0;
            }   
        }
    }
}