.calculation, .about, .questions{      
    padding: 98px 0px 113px;    
    .container{
        position: relative;
        margin: 0 auto;
        max-width: 1182px;
        width: 100%;
        padding: 0 22px;
        .template-title {
            padding-bottom: 52px;
        }
    }
}
   .calculation-row{
        display: flex; 
        
        .calculation-form {
            max-width: 626px;
            width: 100%;            
            border-radius: 20px;
            background-color: #363A4D;
            padding: 50px 50px 55px;
            box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
               .form-column{
                    width: 100%;
                   .form-input{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        position: relative;
                        .file-name{
                            position: absolute;
                            left: 0;
                            top: 12px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 126%;
                        }
                        label{
                         margin-bottom: 6px;        
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 126%;
                        }
                        input{
                            border-radius: 10px;       
                            padding: 17px 18px;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 126%;
                            color:$color;
                                &::placeholder{            
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 126%;
                                    color: #cbcbcb;
                                }
                                &:focus-visible{
                                    outline: none; 
                                }
                                &:hover{
                                    box-shadow: 0px 0px 1px 1px $primary-color;
                                }
                                &:focus{
                                    box-shadow: 0px 0px 1px 1px $secondary-color;
                                }
                                &:active{
                                    box-shadow: 0px 0px 1px 2px $secondary-color;
                                }         
                            }    
                        }
                    .control-box{
                        position: relative;
                            margin-bottom: 14px;
                        &:first-child{
                            margin-top: 19px;
                        }
                    }  
                }
           
            }
        
        
        .calculation-img{
            position: absolute;           
            left: 618px;
            bottom: -112px;           
            max-width: 560px;           
            width: 29.167vw;  
            min-width: 400px;             
        }     
    }

    .calculation{
        .calculation-row{
            .calculation-form {
                .form-row{
                    display: flex;
                    gap: 30px;
                }
            }
        }
    }

.about {      
    padding: 145px 0px 136px;    
    .container{        
        .template-title {
            padding-bottom: 60px;
        }
    }
    .calculation-row{     
        .about-description {
            max-width: 555px;
            width: 100%; 
            font-weight: 300;
            font-size: 18px;
            line-height: 170%;   
            span{
                font-weight: 400;
            }
        }
                    
        .calculation-img{                       
            left: 611px;
            bottom: -75px;                
            max-width: 550px;   
        }      
   }   
}

.questions{
    .container{
    .template-title {
        padding-bottom: 70px;
    }
    .calculation-row{
        gap: 34px;
       .calculation-form {
            max-width: 390px;
            padding: 38px 40px;
            h4{
                font-weight: 700;
                font-size: 24px;
                line-height: 126%;
                margin-bottom: 8px;
            }
            p{
                font-weight: 300;
                font-size: 17px;
                line-height: 126%;
                margin-bottom: 23px;
            }
            .form-column{
                .form-input{
                    width: 100%;  
                    margin-bottom: 14px;                  
                        &:last-child{
                            input{
                                padding: 24px 18px;
                                margin-bottom: 26px;
                            }
                        }
                    
                }
                button{
                    max-width: 310px;
                    width: 100%;
                }
            }
            
        } 
    }
}
    
}


.questions{   
    background-color: transparent;
}

.questions .accordion{
    max-width: 716px;
    width: 100%;
}
.questions .accordion-item{
    border: 1px solid #3a444e;
    border-radius: 10px;   
    background-color: $bg-body;    
    margin-bottom: 16px;    
}
.questions .accordion-item:not(.collapsed){     
    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
    // border-radius: 10px;  
}
.questions .accordion-button{       
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: $color;
    background-color: transparent;
    padding: 18px 0 18px 34px;
}
.questions .accordion-button:not(.collapsed){    
    background: #fff;
    color: $bg-body;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.questions .accordion-body{
    background: #fff;
    color: $bg-body;
    padding-left: 34px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.questions .accordion-item:hover{        
    border-color: $primary-color;
}
.questions .accordion-button:focus{    
    box-shadow: none;
}







// .questions .accordion-item:first-of-type > .accordion-header .accordion-button{
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
// }
// .questions .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed{
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
// }
.questions .accordion-button::after {    
    background-image: url(assets/img/arrow-circle-left-1.svg); 
    width: 27px;  
    height: 27px; 
}
.questions .accordion-button:not(.collapsed)::after {
    background-image: url(assets/img/arrow-circle-left.svg); 
    transform: rotate(-90deg);
}
