.collaboration{      
    padding: 90px 0px 98px;
    .container{
        position: relative;
        margin: 0 auto;
        max-width: 1184px;
        width: 100%;
        padding: 0 22px;
        .template-title{
            margin-bottom: 52px;       
        }
        .collaboration-column{
            display: flex;
            flex-direction: column;
            max-width: 1182px;
            width: 100%;
            .collaboration-row{
                display: flex;
                flex-direction: row;            
                gap: 45px;
                &-reverse{
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                
                }
                .collaboration-img{    
                    max-width: 555px;
                    width: 100%;
                    width: 29.167vw;
                    min-width: 335px;
                    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
                    border-radius: 20px;                    
                }
                .collaboration-list{
                    padding: 0;
                        ::marker{
                        padding: 0;
                        text-indent: 26px;
                    }
                    &-item {    
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 157%;
                        margin-bottom: 39px;                
                    }   
                }
            }
                
        }
    }
}
