.delivery{
    position: relative;
    .template-title{
        margin-bottom: 18px;
    }
        .card{
            padding: 0 20px 17px;
            border-radius: 20px;
            box-shadow: 5px 15px 40px 0 rgba(30, 35, 66, 0.15);
            background: $bg-section;
            overflow: hidden;
            min-height: 482px;
                .img-box{
                    margin: 0 -20px 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                        img{
                            height: 229px;
                            object-fit: contain;                    
                        }
                }
            &-title{                
                font-weight: 700;
                font-size: 22px;
                line-height: 125%;
                text-align: center;
                color: $color;
                margin-bottom: 10px;
            }
            &-option{
                display: flex;
                gap: 44px;
                justify-content: center;
                margin: 0 0 28px 0;
                padding: 0;
                li{
                    list-style: none;
                    // display: flex;
                    // gap: 10px;
                    // width: 100%;
                    color: $color;
                    img{
                        margin-right: 10px;
                    }
                }
            } 
            .card-price{
                font-size: 22px;
                line-height: 125%;
                text-align: center;
                color: #a3a3a3;
                margin-bottom: 26px;
                letter-spacing: -0.7px;
                b{
                    font-weight: 700;
                    font-size: 45px;
                    color: $color;
                }
                span{
                    &:last-child{
                        color: $color;
                    }
                }
            } 
            .btn-row{
                display: flex;
                gap: 14px;
                .btn{
                    width: 50%;
                    padding: 13px 15px;
                }
            }      
        }
    
    .swiper-navigation{
        position: absolute;
        bottom: 342px;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 1323px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: yellow;
        .swiper-button-prev-unique, .swiper-button-next-unique{
            height: 46px;
            width: 46px;
            color: #6C6F7F;
            &:hover{
                color: $secondary-color;
            }
            &.swiper-button-prev{
                left: 0;
            }
            &.swiper-button-next{
                right: 0;
            }
        }
    }
}

