///fonts///
$font-primary: "Proxima Nova";
$fs: 16px;


///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-body: #282b38;
$bg-section: #363A4D;
$color: #fff;
$color-secondary: #85899C;

