<section class="banner">
<div id="banner-slider" class="swiper container-xxl">    
    <div class="swiper-wrapper">      
      <div class="swiper-slide" style="background-image: url('assets/img/swiper1.png');">
        <div class="container">
          <div class="banner-title">Прямое КАРГО из Китая</div>
          <div class="banner-description">Доставляем любые грузы из Китая по честной цене</div>
          <button type="button" class="mb-2 btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/swiper2.png');">
        <div class="container">
          <div class="banner-title">Выкуп товара с ТаоБао, 1688</div>
          <div class="banner-description">Выкуп и доставка товаров
            с китайских торговых площадок. </div>
          <button type="button" class="mb-2 btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/swiper3.png');">
        <div class="container">
          <div class="banner-title">Экспресс авто доставка</div>
          <div class="banner-description">Доставляем любые грузы из Китая по честной цене</div>
          <button type="button" class="mb-2 btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/swiper4.png');">
        <div class="container">
          <div class="banner-title">Выкуп товара с ТаоБао, 1688</div>
          <div class="banner-description">Выкуп и доставка товаров c китайских торговых площадок.</div>
          <button type="button" class="mb-2 btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
        </div>
      </div>
    </div>    
    <div class="swiper-pagination"></div> 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>