<section>
    <div class="container-calculation">
        <div class="template-title case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>                        
        </div>
        <div class="calculation-row">
            <form class="calculation-form">
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-input">
                            <label for="category-cargo">Категория товара:</label>
                            <input type="text" id="category-cargo" placeholder="Категория товара">
                        </div>
                        <div class="form-input">
                            <label for="weight-cargo">Вес груза (кг):</label>
                            <input type="number" id="weight-cargo" placeholder="Введите вес">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-input">
                            <label for="cost-cargo">Стоимость груза:</label>
                            <input type="number" id="cost-cargo" placeholder="Введите стоимость">
                        </div>
                        <div class="form-input">
                            <label for="volume-cargo">Объем груза (м3):</label>
                            <input type="number" id="volume-cargo" placeholder="Введите объем">
                        </div>
                    </div>
                </div>
                <div class="form-row">                    
                    <div class="form-column">                       
                        <div class="control-box">
                            <input type="checkbox" id="insurance" name="docs">
                            <label for="insurance">Страховка</label>                            
                        </div>
                        <div class="control-box">                            
                            <input type="checkbox" id="customs-registration" name="docs">
                            <label for="customs-registration">Таможенное оформление</label>
                        </div>                        
                    </div>
                    <div class="form-column">
                        <div class="form-input">
                            <label for="invoice-code">Код ТН ВЭД:</label>
                            <input type="text" id="invoice-code" placeholder="Введите код">
                        </div>                        
                    </div>
                </div>                
                <div class="form-row">                    
                    <div class="form-column">
                        <div class="form-input">
                            <input type="file" id="file" name="file">
                            <label for="file">Загрузить фото товара</label>                            
                        </div>                        
                    </div>                    
                </div>                
                <button type="button" class="mb-2 btn btn-primary btn-lg">Следующий шаг<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
            </form>
            <!-- <img src="assets/img/man.png" alt="man"> -->
        </div>
    </div>
</section>