<section class="collaboration bg-section" >
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h4>Зарегистрируйте груз!</h4>
        </div>
        <div class="collaboration-column">
            <div class="collaboration-row collaboration-row-reverse">
                <div>
                    <img class="collaboration-img" src="assets/img/collaboration-1.png" alt="collaboration">
                </div>
                
                <ul class="collaboration-list">
                    <li class="collaboration-list-item">Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.</li>
                    <li class="collaboration-list-item">Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</li>
                    <li class="collaboration-list-item">До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.</li>
                </ul>  
            </div>
            <div class="collaboration-row">
                <div>
                    <img class="collaboration-img" src="assets/img/collaboration-2.png" alt="collaboration">
                </div>
                
                <div class="collaboration-column">
                    <ul class="collaboration-list">
                        <li class="collaboration-list-item">После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.</li>
                        <li class="collaboration-list-item">Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</li>
                    </ul>
                <div class="collaboration-button">
                   <button type="button" class="mb-2 btn btn-primary btn-lg">Оформить груз<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>   
                </div>
                
                </div>                
            </div>
        </div>
        
    </div>
</section>
        
        

       