<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>                        
        </div>        
        <div class="swiper slider-template">                     
                <div class="swiper-wrapper">                 
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 5</div>
                </div>                
                <div class="swiper-pagination"></div>                         
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev swiper-button-prev-unique"></div>
            <div class="swiper-button-next swiper-button-next-unique"></div>   
        </div>
            
    </div>
</section>