<footer>
	<section class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="footer-column ">	
					<div class="footer-img-logo">
						<img src="assets/img/logo.svg" alt="logo">
					</div>		
					<ul class="footer-list-сhina">
						<li class="footer-item">8(800)600-18-69</li>
						<li class="footer-item"><u>info@cargoasia.info</u></li>
						<li class="footer-item">Адрес в Китае:</li>
						<li class="footer-item">浙江省金华市义乌市后宅街道洪华小区5</li>
						<li class="footer-item">栋一单元一楼RT789库房 高建军 电话</li>
						<li class="footer-item">15966660379</li>
					</ul>
					<div class="footer-row-social">
						<a href="#"><img src="assets/img/instagram.svg" alt="logo"></a>
						<a href="#"><img src="assets/img/vkontakte.svg" alt="logo"></a>
						<a href="#"><img src="assets/img/telegram.svg" alt="logo"></a>
					</div>
				</div>
				<div class="footer-column-info">
					<div class="footer-column">							
						<h5>Грузоперевозки</h5>
						<ul class="footer-list">
							<li class="footer-item">
								<a href="#">Цены и сроки</a>
							</li>
							<li class="footer-item">
								<a href="#">Услуги</a>
							</li>
							<li class="footer-item">
								<a href="#">О компании</a>
							</li>
							<li class="footer-item">
								<a href="#">Контакты</a>
							</li>
							<li class="footer-item">
								<a href="#">Оформить груз</a>
							</li>
						</ul>
					</div>
					<div class="footer-column">							
						<h5>Услуги</h5>
						<ul class="footer-list">
							<li class="footer-item">
								<a href="#">Выкуп товара</a>
							</li>
							<li class="footer-item">
								<a href="#">Страховка груза</a>
							</li>
							<li class="footer-item">
								<a href="#">Аренда склада</a>
							</li>
							<li class="footer-item">
								<a href="#">Перевод денежных средств</a>
							</li>								
						</ul>
					</div>
					<div class="footer-column">							
						<h5>Информация</h5>
						<ul class="footer-list">
							<li class="footer-item">
								<a href="#">Отзывы</a>
							</li>
							<li class="footer-item">
								<a href="#">Требования к грузу</a>
							</li>
							<li class="footer-item">
								<a href="#">Договор-оферта</a>
							</li>
							<li class="footer-item">
								<a href="#">Как заключить договор</a>
							</li>
							<li class="footer-item">
								<a href="#">Способы оплаты услуг</a>
							</li>
							<li class="footer-item">
								<a href="#">Документы</a>
							</li>
							<li class="footer-item">
								<a href="#">Статьи</a>
							</li>
						</ul>
					</div>
				</div>
							
			</div>							
		</div>
	</section>
</footer>

<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>