<section class="questions">
    <div class="container">
        <div class="template-title color-primary">
            <h2>Часто задаваемые вопросы</h2>                        
        </div> 
        <div class="calculation-row">
            <form class="calculation-form">
                <h4>Остались вопросы?</h4>
                <p>Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                    <div class="form-column">
                        <div class="form-input">                           
                            <input type="text" placeholder="Имя *">
                        </div>                        
                        <div class="form-input">                            
                            <input type="tel" placeholder="Телефон *">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail"/>
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Ваш вопрос"/>
                        </div> 
                    </div>             
               
                <div class="form-column">
                    <button type="button" class="mb-2 btn btn-primary btn-lg">Отправить запрос<img src="assets/img/arrow-circle-left.svg" alt="arrow-circle-left"></button>
                </div>                 
            </form>           
            <im g class="calculation-img" src="assets/img/man.png" alt="man">            
        </div>
        
           
    </div>
</section>